/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/banner.jpg');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.0rem;
}
.hero_desc {
    font-size: 1.7rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#contact {
    padding-bottom: 4rem;
}
/* about section image css */
.imageAboutPage {
    width: 100%;
}

/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
  
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #2863e2;
}
.servicesText:hover {
    border: 1px solid #3220da;
}

/* portfolio styling */
.card-img-top {
    height: 55rem;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover, .fa-github:hover {
    color: #2615e4;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}